body {

    background-color: #acc9c4;
    
}
.container {

    display: flex;

    justify-content: space-around;

    padding: auto 2%;

    align-items: baseline;

    background-color: #d9ebe8;

}

img {

    border-radius: 7px;

    margin-top: 20px;

}

.block {

    display: flex;

    flex-direction: column;

    justify-content: space-between;
    
}

.btn {

    padding: 15px;

    letter-spacing: 1px;

    text-transform: uppercase;

    text-decoration: underline;

    border: none;

    background-color: #d9ebe8;

    color: #4e2b32;

    cursor: pointer;

    font-size: 15px;

}

button {

    border: none;

    margin: 15px;

    font-size: 15px;

}

h1 {

    font-size: 35px;

    color: #91394a;

    text-transform: uppercase;

    letter-spacing: 2px;

}

h2 {

    font-size: 30px;

    color: #91394a;

    text-transform: uppercase;

}

h3 {

    font-size: 22px;

    color: #4e2b32;
    
}

p {

    color: #4e2b32;
    
    font-size: 20px;
    
    margin-left: 50px;

    margin-right: 40px;

}

.show {

    color: #91394a;

    text-transform: uppercase;

    background-color: #d9ebe8;
    
    cursor: pointer;

}
